
.hero-title {
  background-color: lightblue;
}

h1 {
    color: blue;
    text-align: center;
    margin: 0px;
} 

h2 {
	background-color: tomato;
}

h2, p {
	color: lightgreen;
	background-color: tomato;
	margin: 0px;
}